@font-face {
    font-family: "specimen";
    src: url("../");
}
/* ? FONTES */
.specimen{
    font-family: "specimen";
}

/* TEXT COLORES */
.text-White{ 
    color: hsl(0, 0%, 100%);
}
.text-Light-Grey{
    color: hsl(217, 12%, 63%);
}
.text-Dark-Blue{
    color: hsl(213, 78.80%, 12.90%);
}
.text-Very-Dark-Blue{
    color: hsl(216, 12%, 8%);
}


BG