*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    border: 3px solid black ;
    padding: 10px;
    border-radius: 5px;
    color: black;
    max-width: fit-content;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}