body{
    background-color: rgb(180, 126, 59);
}



header{
    background-color: rgb(168, 129, 81);
    text-align: center;
    color: azure;
    padding: 0;
}



footer{
    background-color: (180, 126, 59);

    text-align: center;
    color: aliceblue;
    width: 100%;
}