@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-main {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto{
    font-family: "Roboto";
}

body{
    background-image: url(./images/bg-weather.png); 
    background-repeat: no-repeat;
    background-size: cover;
}