* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main{
    width: 80%;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.movie-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 0.95rem;
  color: #eee;
}
