body{
    background-color: beige;
}
header{
    text-align: center;
    background-color: beige; 
}


footer{
    background-color: beige;
    text-align: center;
}

main{
    text-align: center;
    background-color: bisque;
    color: black;
    
}