

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}