body {
    font-family: "Playwrite TZ Guides", cursive;
    font-weight: 600;
    font-style: normal;
}

.div1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;


}

.h1 {
    font-family: "Playwrite TZ Guides", cursive;
    font-weight: 600;
    font-style: normal;
}

.h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.f1{
    font-family: "Playwrite TZ Guides", cursive;
    font-weight: 600;
    font-style: normal;
}
.f2{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}